.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  text-align: center;
  height: 80px;
}

.full-width {
  width: 100%;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.scoreboard {
  text-align: center;
  font-size: small;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.App-intro {
  text-align: center;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.liatrio-footer {
  text-align: center;
  font-size: small;
}

.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

.button-black {
  background-color: black;
  border-color: black;
}
